/**
* Padding all around
* 
**/

.pa-1 {
  padding: 4px !important;
}

.pa-2 {
  padding: 8px !important;
}

.pa-3 {
  padding: 16px !important;
}

.pa-4 {
  padding: 24px !important;
}

.pa-5 {
  padding: 48px !important;
}

/**
* Padding top
* 
**/
.pt-1 {
  padding-top: 4px !important;
}

.pt-2 {
  padding-top: 8px !important;
}

.pt-3 {
  padding-top: 16px !important;
}

.pt-4 {
  padding-top: 24px !important;
}

.pt-5 {
  padding-top: 48px !important;
}

/**
* Padding bottom
* 
**/
.pb-1 {
  padding-bottom: 4px !important;
}

.pb-2 {
  padding-bottom: 8px !important;
}

.pb-3 {
  padding-bottom: 16px !important;
}

.pb-4 {
  padding-bottom: 24px !important;
}

.pb-5 {
  padding-bottom: 48px !important;
}

/**
* Padding on top and bottom
* 
**/

.py-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-3 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-4 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py-5 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
/**
* Padding on the left and right
* 
**/
.px-1 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.px-2 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px-3 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px-4 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.px-5 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

/**
* Margin all around
* 
**/

.ma-1 {
  padding: 4px !important;
}

.ma-2 {
  padding: 8px !important;
}

.ma-3 {
  padding: 16px !important;
}

.ma-4 {
  padding: 24px !important;
}

.ma-5 {
  padding: 48px !important;
}

/**
* Margin top
* 
**/
.mt-1 {
  padding-top: 4px !important;
}

.mt-2 {
  padding-top: 8px !important;
}

.mt-3 {
  padding-top: 16px !important;
}

.mt-4 {
  padding-top: 24px !important;
}

.mt-5 {
  padding-top: 48px !important;
}

/**
* Margin bottom
* 
**/
.mb-1 {
  padding-bottom: 4px !important;
}

.mb-2 {
  padding-bottom: 8px !important;
}

.mb-3 {
  padding-bottom: 16px !important;
}

.mb-4 {
  padding-bottom: 24px !important;
}

.mb-5 {
  padding-bottom: 48px !important;
}

/**
* Margin on top and bottom
* 
**/

.my-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.my-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.my-3 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.my-4 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.my-5 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
/**
* Margin on the left and right
* 
**/
.mx-1 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.mx-2 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.mx-3 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.mx-4 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.mx-5 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}
